
      <div class="mt-2 mb-6 inline-flex items-center">
        {% if author.avatar %}<img class="avatar" src="{{ author.avatar | relative_url }}" alt="{{ author.name }}">
        {% endif %}
        <small>
          <span class="font-bold">{{ author.name }}</span> 
          <span><a href="{{ profile_url }}" class="ml-1 profile-btn">Profile</a></span>
          <span class="mt-1 block text-white-darker">{{ page.date | date: '%b %d, %Y' }} · {% include article/article-readtime.html %}</span>
        </small>
      </div>