---
title: "Social Networking Reimagined"
description: "Welcome to Federated Diversity Foundation. The place where Social Coding meets the Fediverse."
layout: default
pagination:
  enabled: true
---

{% include hero.html %}

      <section class="w-11/12 lg:w-2/3 grid grid-rows-1 md:grid-cols-2 md:grid-rows-3 items-start gap-5 md:gap-x-10 lg:gap-x-12 xl:gap-x-16 mx-auto mb-6 lg:mb-8" role="listbox">
        {%- assign current_post = site.posts[0] -%}
        {% include posts/posted-last.html post=current_post %}

        {%- assign current_post = site.posts[1] -%}
        {% include posts/posted-recent.html post=current_post %}

        {%- assign current_post = site.posts[2] -%}
        {% include posts/posted-recent.html post=current_post %}

        {%- assign current_post = site.posts[3] -%}
        {% include posts/posted-recent.html post=current_post %}
      </section>

      <section class="w-11/12 lg:w-2/3 mx-auto mb-6 lg:mb-8">
        {%- assign current_post = site.posts | where: "status", "sticky" | first -%}
        {% include posts/posted-sticky.html post=current_post %}
      </section>

      <div class="w-11/12 lg:w-2/3 flex flex-col-reverse md:flex-row mx-auto">
        <section class="w-full md:w-2/3 md:mr-5" role="listbox">
          <h2 class="spanner mb-6 text-2xl"><span>All Stories</span></h2>

        {%- for post in paginator.posts offset:4 -%}
          {%- if post.status == "sticky" -%}
            {%- continue -%}
          {%- else -%}
            {% include posts/post-listitem.html post=post %}
          {%- endif -%}
        {%- endfor -%}

        {% include posts/posts-paginator.html %}
        </section>

        <aside class="w-full md:w-1/3 md:ml-5">
          {% include sidebars/sidebar-featured.html %}
        </aside>
      </div>
