            {% assign related_links = page.related %}
            {%- if related_links and related_links.size > 0 -%}
            <h2 class="spanner mb-6 text-2xl"><span>Related</span></h2>  
            <ol class="related mb-6">				
              {% for related in related_links %}            
                <li class="mb-2 flex">
                  <h3 class="font-bold"><a href="{{ related.url }}" class="text-white">{{ related.title }}</a></h3>
                </li>            
              {% endfor %}   
            </ol>
            {%- endif -%}