<div class="mb-5">
  <img src="/assets/images/fedi-foundation-logo.svg" class="w-full" alt="Federated Diversity Foundation logo">
</div>

<h2 class="mb-3 text-xl text-white">Federated Diversity Foundation</h2>

<p>Where Social Coders help empower the Fediverse and Free Software Development to reach new heights.</p>

<a target="_blank" href="https://coding.social/movement/about-us.html" class="w-full mt-6 mb-2 p-1 block rounded text-center bg-yellow hover:bg-yellow-dark text-grey"><i class="fa fa-activitypub" aria-hidden="true"></i>&nbsp; Join Social Coding Movement</a>

<a href="{{ site.baseurl }}/support.html" class="w-full mt-2 mb-8 p-1 block rounded text-center bg-pink hover:bg-pink-dark text-white"><i class="fa fa-coffee" aria-hidden="true"></i>&nbsp; Help Support Our Work</a>