      <section class="flex flex-col items-center mb-5 text-center gradient" role="banner">
        <img src="/assets/images/fedi-foundation-logo.svg" class="w-11/12 md:w-2/6 max-h-96" role="logo" alt="{{ site.fullname }}">
        <p class="w-11/12 md:w-4/6 text-lg mb-3 md:text-2xl font-serif italic text-white-dark">The place where <a href="https://coding.social" class="text-pink font-bold">Social Coding</a> meets the <a href="https://fediverse.party" class="text-yellow font-bold">Fediverse</a></p>
        <h1 class="w-11/12 md:w-4/6 my-5 md:mb-10 text-xl md:text-xxl font-normal text-white-dark">Social experience &nbsp;•&nbsp; Technology &nbsp;•&nbsp; Community &nbsp;•&nbsp; Ecosystems</h1>
      </section>