
          {% assign people = site.data.people | sort %}
          <h2 id="people" class="spanner mt-7 mb-6 text-2xl"><span>People</span></h2>

          <section class="flex flex-col md:flex-row md:flex-wrap md:-mx-4">
            {% for person in people %}
            {%- assign profile_page = site.profile | where: "person", person[1].socialcoder | first -%}
            {%- if profile_page -%}
              {%- assign profile_url = profile_page.url -%}
            {%- else -%}
              {%- assign profile_url = "https://discuss.coding.social/u/" | append: person[1].socialcoder | append: "/summary" -%}
            {%- endif -%}
            <div class="w-1/2 mb-4">
              <div class="flex flex-row p-4 border rounded m-4">
                <div class="w-1/3 mb-4 mb-md-0">
                  <img src="{{ person[1].avatar | relative_url }}" alt="{{ person[1].name }}" class="rounded-full w-20">
                </div>
                <div class="w-2/3">
                  <h3 class="mb-4"><a href="{{ profile_url }}" class="text-xl font-medium text-white hover:text-pink">{{ person[1].name }}</a></h3>
                  <p class="text-white-dark">{{ person[1].bio }}</p>
                  <p class="mt-3 flex flex-row">  
                    <a href="{{ person[1].twitter }}" class="pr-4 text-white-dark hover:text-pink" target="_blank">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="{{ person[1].site }}" class="pr-4 text-white-dark hover:text-pink" target="_blank">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
            {%- endfor -%}
          </section>