---
---
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "assets/css/syntax";


/*
  Navigation menu offset
*/

html {
  --top-spacing: 34px;
  scroll-padding-top: var(--top-spacing);
}

@screen md {

  html {
    --top-spacing: 52px;
  }
}

body {
  margin-top: var(--top-spacing);
  height: calc(100vh - var(--top-spacing));
}

/*
  Hamburger menu
*/

.menu {
  min-height: 2.8rem;
  max-height: 0;
  transition: max-height 0.3s;
}

#menu:checked ~ .menu {
  max-height: 100%;
}

/* 
  Hero gradient
*/

.gradient {
  background-image: radial-gradient(circle at 11% 37%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 50%,transparent 50%, transparent 56%,transparent 56%, transparent 100%),radial-gradient(circle at 82% 7%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 46%,transparent 46%, transparent 88%,transparent 88%, transparent 100%),radial-gradient(circle at 81% 79%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 33%,transparent 33%, transparent 89%,transparent 89%, transparent 100%),radial-gradient(circle at 68% 96%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 8%,transparent 8%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 69% 20%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 84%,transparent 84%, transparent 86%,transparent 86%, transparent 100%),radial-gradient(circle at 49% 22%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 71%,transparent 71%, transparent 78%,transparent 78%, transparent 100%),radial-gradient(circle at 23% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 6%,transparent 6%, transparent 40%,transparent 40%, transparent 100%),radial-gradient(circle at 86% 33%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 13%,transparent 13%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 38% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 15%,transparent 15%, transparent 61%,transparent 61%, transparent 100%),linear-gradient(0deg, hsl(167,0%,6%),hsl(167,0%,6%));
  margin-bottom: 20px;
}

/*
  Emoji support
*/

.prose img.emoji {
  @apply inline-block max-w-full my-0 ml-1 pb-0.5;
}

/*
  Tags and categories
*/

.category {
  @apply capitalize font-bold text-pink hover:text-pink-dark;
}

.tag {
  @apply lowercase px-1 py-0.5 rounded font-bold text-blue-light hover:text-blue bg-grey-light;
}

/*
  Info callout
*/

.info {
  @apply p-3 bg-blue-300 border-l-4 border-blue-700 rounded-md drop-shadow-md text-blue-700;
}

.info a, .info a strong {
  @apply text-blue-900 underline;
}

.summary strong {
  @apply text-blue-900 uppercase;
}

/*
  Summary callout
*/

.summary {
  @apply p-3 bg-yellow-light border-l-4 border-yellow-dark rounded-md drop-shadow-md text-yellow-darker;
}

.summary a, .summary a strong  {
  @apply text-yellow-darker underline;
}

.summary strong {
  @apply text-yellow-darker;
}

/*
  Hover image changes title color
*/

.recent-image:hover ~ div > a {
  @apply text-pink;
}

/*
  Header spanner
*/

.spanner {
  @apply border-b font-bold border-white-dark text-white;
}

.spanner span {
  @apply -mb-px pb-5 inline-block border-b-4 border-pink;
}

/*
  Custom counted list
*/

.counter {
  counter-reset: list-counter;
}

.counter li::before {
  content: "0" counter(list-counter);
  font-family: Arial, Helvetica, sans-serif;
  @apply mr-3 text-3xl font-bold text-white-dark opacity-20;
}

.counter li {
  counter-increment: list-counter;
  @apply flex;
}

/*
  Related links list
*/

.related li::before {
  content: "🔗";
  font-family: Arial, Helvetica, sans-serif;
  @apply mr-3 text-xl font-bold text-white-dark opacity-20;
}

/*
  Author details
*/

.avatar {
  @apply w-16 md:w-20 mr-4 md:mr-6 rounded-full;
}

.profile-btn {
  @apply inline-block px-3 pt-1 pb-0.5 rounded-full border border-blue text-blue hover:bg-blue hover:text-white;
}

/*
  Backtick markdown code
*/

.prose code.highlighter-rouge {
  @apply inline-block rounded-sm px-1 pt-0.5 pb-0 font-light font-mono text-blue-light bg-grey-light;
}

.prose code.highlighter-rouge::before, 
.prose code.highlighter-rouge::after {
  content: "";
}

/*
  Format markdown html-inlined definition lists.
*/

.prose dl dt {
  @apply font-bold italic;
}

.prose dl dd {
  @apply mb-3 px-4;
}