      {%- if include.post -%}
        {%- if include.post.image contains "://" -%}
          {%- assign post_img = include.post.image -%}
        {%- else -%}
          {%- assign post_img = include.post.image | relative_url -%}
        {%- endif -%}

        {%- assign post_img_style = 'style="background-image: url(' | append: post_img | append: '); height: 200px;"' -%}

        <div class="md:row-span-3" role="listitem">
          <a class="text-white hover:text-pink" href="{{ include.post.url | relative_url }}">
            <div class="bg-cover bg-no-repeat" {{ post_img_style }} role="img"></div>
            <h3 class="mt-4 mb-2 text-2xl font-bold">{{ include.post.title }}</h3>
          </a>
          <p class="pt-4">
              {{ include.post.excerpt | strip_html | strip_newlines | truncate: 186 }}
          </p>
          <p class="pt-4">
            <small class="text-white-darker">
              In <span>
              {%- for category in include.post.categories -%}
              <a class="category" href="/categories#{{ category | downcase }}">{{ category }}</a><span class="last:hidden">, </span>
              {%- endfor -%}
              </span>
              <span>
              {% for tag in include.post.tags %}
              <a class="tag" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a>
              {%- endfor -%}</span>                 
            </small>
          </p>
          <p>
            <small class="text-white-darker">
              {{ include.post.date | date: '%b %d, %Y' }}
            </small>
          </p>
        </div>
      {%- endif -%}
