      {%- if include.post -%}
        {%- if include.post.image contains "://" -%}
          {%- assign post_img = include.post.image -%}
        {%- else -%}
          {%- assign post_img = include.post.image | relative_url -%}
        {%- endif -%}

        <div class="flex items-center" role="listitem">
          <div class="recent-image w-48 flex-none mr-5">
            <a href="{{ include.post.url | relative_url }}">
              <img src="{{ post_img }}" alt="{{ include.post.title }}">
            </a>
          </div>
          <div>
            <a class="text-white hover:text-pink" href="{{ include.post.url | relative_url }}">
              <h3 class="mt-0 mb-1 text-base font-bold">{{ include.post.title }}</h3>
            </a>
            <p class="lg:pt-1">
              <small class="text-white-darker">
                In <span>
                {%- for category in include.post.categories -%}
                <a class="category" href="/categories#{{ category | downcase }}">{{ category }}</a><span class="last:hidden">, </span>
                {%- endfor -%}
                {% for tag in include.post.tags %}
                <a class="tag" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a>
                {%- endfor -%}</span>                 
              </small>
            </p>
            <p class="hidden lg:inline">
              <small class="text-white-darker">
                {{ include.post.date | date: '%b %d, %Y' }}
              </small>
            </p>
          </div>
        </div>
      {%- endif -%}
