---
layout: default
---
      {%- assign category = page.category.name -%}
      <div class="w-11/12 md:w-2/3 flex flex-col md:flex-row py-6 lg:py-8 mx-auto">
        <section class="w-full md:w-2/3 mb-4 md:mr-5">
          <h1 class="mb-7 text-5xl font-bold uppercase text-white">{{ category }}</h1>

          <div class="mb-6 leading-8 font-light text-xl text-white">
            {{ content }}
          </div>

  {%- for tag in page.category.tags -%}
    {%- assign pages_list = site.tags[tag] -%}
    {%- assign group = false -%}
    {%- for post in pages_list -%}
      {%- if post.categories contains category and tag == post.tags[0] -%}
        {% if group == false %}
          <h2 class="spanner mb-6 capitalize text-2xl" id="{{ tag | downcase }}"><span>{{ tag }}</span></h2>
          {%- assign group = true -%}
        {%- endif -%}
        {% include posts/post-listitem.html tag=tag post=post %}
      {%- endif -%}
    {%- endfor -%}

    {%- assign pages_list = nil -%}
    {%- assign group = nil -%}
  {%- endfor -%}
        </section>

        <aside class="w-11/12 md:w-1/3 md:ml-5">
          {%- if page.category.image -%}
          <div class="inline-flex justify-center mb-4">
            <img src="{{ site.baseurl }}/assets/images/categories/{{ page.category.image }}" class="w-3/5" role="decorative">
          </div>
          {%- endif -%}
          {% include sidebars/sidebar-related.html %}
          {% include sidebars/sidebar-featured.html category=category %}
        </aside>
      </div>
