---
layout: default
---

      <div class="w-11/12 lg:w-2/3 flex flex-col md:flex-row mx-auto">
        <section class="w-full md:w-2/3 md:mr-5" role="listbox">
          <h1 class="mt-8 mb-7 text-5xl font-bold uppercase text-white">Categories</h1>
          {% for category in site.categories %}
          <h2 class="spanner mt-6 mb-5 capitalize text-2xl" id="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h2>

          {%- assign pages_list = category[1] -%}
          {% for post in pages_list %}
            {% include posts/post-listitem.html post=post %}
          {%- endfor -%}
          {%- assign pages_list = nil -%}
          {%- endfor -%}
        </section>

        <aside class="w-full md:w-1/3 mt-6 md:mt-28 md:ml-5">
          {% include sidebars/sidebar-featured.html %}
        </aside>
      </div>
