---
layout: default
---

{%- assign author = page.author | default: page.authors[0] | default: site.author -%}
{%- assign author = site.data.people[author] | default: author -%}

{%- if author == site.author -%}
  {%- assign profile_url = "/about" -%}
{%- else -%}
  {%- assign profile_page = site.profile | where: "person", author.socialcoder | first -%}
  {%- if profile_page -%}
    {%- assign profile_url = profile_page.url -%}
  {%- else -%}
    {%- assign profile_url = "https://discuss.coding.social/u/" | append: person[1].socialcoder | append: "/summary" -%}
  {%- endif -%}
{%- endif -%}

{%- assign license = page.license | default: site.licensing[page.type] | replace: " ", "" | replace: "-", "" | downcase  -%}
{%- if license != site.licensing.default -%}
  {%- assign page_license = site.data.licenses[license] -%}
{%- endif -%}

{% if page.image %}
  {%- assign img_justify = "justify-content-between" -%}
  {%- assign article_col = "md:w-1/2" -%}
  {%- if page.image contains "://" -%}
    {%- assign post_img = page.image -%}
  {%- else -%}
    {%- assign post_img = page.image | relative_url -%}
  {%- endif -%}
{%- else -%}
  {%- assign img_justify = "justify-content-center" -%}
  {%- assign article_col = "md:w-2/3" -%}
{%- endif -%}

<article class="w-11/12 lg:w-2/3 mx-auto">
  <section class="flex flex-col md:flex-row my-7 mb-10">
    <div class="{{ article_col }} self-center md:pr-7">
      <p class="mb-2">
        {% for category in page.categories %}<a href="{{site.baseurl}}/categories.html#{{ category | downcase }}" class="uppercase font-bold text-pink hover:text-pink-dark">{{ category | downcase }}</a><span class="last:hidden">, </span>
        {% endfor %}
      </p>
      <h1 class="mb-4 leading-tight text-4xl lg:text-5xl font-medium text-white">{{ page.title }}</h1>
      {% include article/article-author.html %}
    </div>
    {% if page.image %}
    <div class="{{ article_col }} md:pl-7">
      <img class="rounded-sm" src="{{ post_img }}" alt="{{ page.title }}">
    </div>
    {% endif %}
  </section>

  <div class="flex flex-col md:flex-row justify-center">
    <aside class="md:w-1/4 md:mr-8 md:text-right">
      <p class="text-base italic text-white-darker">Description</p>
      <p class="mb-3 md:pl-4 text-base italic text-white">
        <span class="text-lg text-white-darker">&ldquo;</span>
        {{ page.description }}
        <span class="text-lg text-white-darker">&rdquo;</span>
      </p>
      <small>
        {% for tag in page.tags %}<a class="inline-block mb-1 tag" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a>
        {% endfor %}
      </small>
    </aside>

    <section class="md:w-3/4 my-8 md:mt-0 md:ml-4">
      <div class="prose md:prose-lg lg:prose-xl max-w-none">
        {{ content }}

        <hr>
      </div>

      {% if page.author and page.author != site.author %}
        {% include article/article-address.html author=author license=page_license %}
      {% endif %}
    </section>
  </div>
</article>

<!--

TODO

<div class="alertbar">
  <div class="container">
    <div class="row prevnextlinks small font-weight-bold">
      {% if page.previous.url %}
      <div class="col-md-6 rightborder pl-0">
        <a class="text-dark" href="{{ site.baseurl }}{{ page.previous.url }}">{% if page.previous.image %} <img height="30px" class="mr-1" src="{{site.baseurl}}{{page.previous.image}}"> {% endif %} {{page.previous.title}}</a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="col-md-6 text-right pr-0">
        <a class="text-dark" href="{{ site.baseurl }}{{ page.next.url }}"> {{page.next.title}} {% if page.next.image %} <img height="30px" class="ml-1" src="{{site.baseurl}}{{page.next.image}}"> {% endif %}</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
-->